# Aula 05 - Introdução ao List Comprehsion e Format

> Nessa aula iremos dar introdução ao list comprehensions, uma forma mais simples de realizar conversões de valores entre duas ou mais listas. Atualmente é uma das formas mais simples de aplicar conversões, substituindo as declarações mais extensas do que o metodo conversional, lambda e o map.

## Exemplo 1 - Conversão de Celsius para Fahrenheit

In [2]:
celsius = [10,20,24,35,50]
fahrenheit = [round(x*1.8+32,2) for x in celsius]
print (fahrenheit)

[50.0, 68.0, 75.2, 95.0, 122.0]

## Exemplo 2 - Conversão Kmh para Mph

In [14]:
Kmh = [10,20,24,35,50]
Mph = [round(x/1.61,2) for x in Kmh]
print (Mph)

[6.21, 12.42, 14.91, 21.74, 31.06]

In [24]:
print("{:<6} {:<6}".format("Kmh","Mph"))
print("-------------")
x = 0
while(x<len(Kmh)):
    print("{:<6} {:<6}".format(Kmh[x],Mph[x]))
    x +=1

Kmh    Mph
-------------
10     6.21
20     12.42
24     14.91
35     21.74
50     31.06

## Tabela de Celsius para Fahrenheit

In [25]:
celsius = [10,20,24,35,50]
fahrenheit = [round(x*1.8+32,2) for x in celsius]
print (fahrenheit)

[50.0, 68.0, 75.2, 95.0, 122.0]

In [56]:
print("{:<8} {:<6}".format("Celcius","Fahrenheit"))
print("-------------------")
x = 0
while(x<len(celsius)):
    print("{:<8} {:<6}".format(celsius[x],fahrenheit[x]))
    x +=1

Celcius  Fahrenheit
-------------------
10       50.0
20       68.0
24       75.2
35       95.0
50       122.0

## Exercício 1

> Crie uma lista com 10 valores em metros. Crie uma tabela de conversão para polegadas, pés, jardas e mílhas marítimas. Listando o número da linha e o cabeçalho da tabela.

In [114]:
mt = [10,20,24,35,50,60,76,80,99,120]
mt.sort()
plg = [round(x*39.37,2) for x in mt]
pes = [round(x*3.281,2) for x in mt]
jardas = [round(x*1.094,2) for x in mt]
mma = [round(x/1852,2) for x in mt]
print("{:<12} {:<12} {:<12} {:<12} {:<12} {:<12}".format("N","Metros","Polegadas","Pés","Jardas","Milhas Marítimas"))
print("---------------------------------------------------------------------------------")
for v in range(0,len(mt),1):
    print("{:<12} {:<12} {:<12} {:<12} {:<12} {:<12}".format(v,mt[v],plg[v],pes[v],jardas[v],mma[v]))

N            Metros       Polegadas    Pés          Jardas       Milhas Marítimas
---------------------------------------------------------------------------------
0            10           393.7        32.81        10.94        0.01
1            20           787.4        65.62        21.88        0.01
2            24           944.88       78.74        26.26        0.01
3            35           1377.95      114.84       38.29        0.02
4            50           1968.5       164.05       54.7         0.03
5            60           2362.2       196.86       65.64        0.03
6            76           2992.12      249.36       83.14        0.04
7            80           3149.6       262.48       87.52        0.04
8            99           3897.63      324.82       108.31       0.05
9            120          4724.4       393.72       131.28       0.06

## Exercício 2 
> Crie uma lista com 10 valores em Kelvin. Crie uma tabela de conversão para Celsius e Fahrenheit. Listando o número da linha e o cabeçalho da tabela.

In [110]:
kelvin = [10,20,24,35,50,60,76,80,99,120]
kelvin.sort
celcius = [round((x-273.15),2) for x in kelvin]
fahrenheit = [round((x-273.15)*9/5 + 32.2,2) for x in kelvin]
print("{:<12} {:<12} {:<12} {:<12}".format("N","Kelvin","Celcius","Fahrenheit"))
print("-------------------------------------------------")
for v in range(0,len(kelvin),1):
    print("{:<12} {:<12} {:<12} {:<12}".format(v,kelvin[v],celcius[v],fahrenheit[v]))

N            Kelvin       Celcius      Fahrenheit
-------------------------------------------------
0            10           -263.15      -441.47
1            20           -253.15      -423.47
2            24           -249.15      -416.27
3            35           -238.15      -396.47
4            50           -223.15      -369.47
5            60           -213.15      -351.47
6            76           -197.15      -322.67
7            80           -193.15      -315.47
8            99           -174.15      -281.27
9            120          -153.15      -243.47

## Exercício 3 
> Crie um uma lista com 10 pesos em kilos. Faça a conversão do peso na Terra, Lua, Jupter, Saturno e Mercurio.Monte uma tabela conforme os exercícios passados

In [5]:
peso = [10,20,24,35,50,60,76,80,99,120]
peso.sort()
tr = [round(x*1,2) for x in peso]
la = [round(x*0.17,2) for x in peso]
jp = [round(x*2.34,2) for x in peso]
sat = [round(x*1.06,2) for x in peso]
mec = [round(x*0.38,2) for x in peso]
print("{:<12} {:<12} {:<12} {:<12} {:<12} {:<12}".format("N","Terra","Lua","Jupiter","Saturno","Mercurio"))
print("---------------------------------------------------------------------------------")
for v in range(0,len(peso),1):
    print("{:<12} {:<12} {:<12} {:<12} {:<12} {:<12}".format(v,tr[v],la[v],jp[v],sat[v],mec[v]))

N            Terra        Lua          Jupiter      Saturno      Mercurio
---------------------------------------------------------------------------------
0            10           1.7          23.4         10.6         3.8
1            20           3.4          46.8         21.2         7.6
2            24           4.08         56.16        25.44        9.12
3            35           5.95         81.9         37.1         13.3
4            50           8.5          117.0        53.0         19.0
5            60           10.2         140.4        63.6         22.8
6            76           12.92        177.84       80.56        28.88
7            80           13.6         187.2        84.8         30.4
8            99           16.83        231.66       104.94       37.62
9            120          20.4         280.8        127.2        45.6